.frame {
  width: 400px;
  height: 400px;
  max-width: 30%;
  max-height: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.title {
  text-align: center;
  font-size: 80px;
  color: white;
}

.img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.text-block {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
  padding: 10px;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#56157c, white);
  padding-top: 80px;
  margin: 0;
  font-family: helvetica, sans-serif;
}

#first-frame {
  background-image: url('./images/photo1.jpg');
}

#second-frame {
  background-image: url('./images/photo2.jpg');
}

#third-frame {
  background-image: url('./images/photo3.jpg');
}
